<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>com.javaweb.servlet.AddUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>com.javaweb.servlet.DeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAndModify</servlet-name>
        <servlet-class>com.javaweb.servlet.SearchAndModify</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/addUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/deleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAndModify</servlet-name>
        <url-pattern>/searchAndModify</url-pattern>
    </servlet-mapping>
</web-app>

